<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Vue.js + Firebase Todo App</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="todo">
  <h2>To-Do To-Day</h2>
    
  <form v-on:submit.prevent="addTodo">
    <input type="text" v-model="newTodo.text" placeholder="Add new todo"/>
  </form>
  
  <ul class="todo-list">
    <li v-for="todo in todos">{{todo.text}} <button v-on:click="removeTodo($key)">Remove</button></li>
    
  </ul>

</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script src='https://www.gstatic.com/firebasejs/3.3.0/firebase.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
