/* Global */
body {
  color: #fff;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
}

input {
  border: none;
  background: none;
  color: #fff;
  width: 100%;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
input:focus {
  outline: none;
}

/* Utilities */
.center {
  text-align: center;
}

/* Todo List */
.todo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item, .todo-item-clear {
  margin: 0;
  padding: 20px 25px;
  background-color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: all .25s ease;
}
.todo-item.done-true .todo-item-description, .done-true.todo-item-clear .todo-item-description {
  color: #cccccc;
  text-decoration: line-through;
}
.todo-item:hover, .todo-item-clear:hover {
  background-color: #404040;
  cursor: pointer;
}

.todo-item-description {
  transition: all .25s ease;
}

.todo-item-clear {
  background-color: #cc0000;
}
.todo-item-clear:hover {
  background-color: #ff0000;
}
