/* Global */

body {
  color: #fff;
  background-color: #111;
  -webkit-font-smoothing: antialiased;
}

input {
  border: none;
  background: none;
  color: #fff;
  width: 100%;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  
  &:focus {
    outline: none;
  }
}

/* Utilities */

.center {
  text-align: center;
}

/* Todo List */

.todo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-item {
  margin: 0;
  padding: 20px 25px;
  background-color: #333;
  font-weight: bold;
  font-size: 18px;
  transition: all .25s ease;
  
  &.done-true {
    
    .todo-item-description {
      color: darken(#fff, 20%);
      text-decoration: line-through;
    }
  }
  
  &:hover {
    background-color: lighten(#333, 5%);
    cursor: pointer;
  }
}

.todo-item-description {
  transition: all .25s ease;
}

.todo-item-clear {
  @extend .todo-item;
  background-color: darken(#ff0000, 10%);
  
  &:hover {
    background-color: #ff0000;
  }
}