html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  margin: 1rem;
}

.about {
  max-width: 40rem;
  margin: 0 auto;
}
.about h2 {
  margin: 2rem 0;
  text-align: center;
}

.react-app {
  max-width: 40rem;
  margin: 0 auto;
  border: 1px solid gray;
  padding: 1rem;
}
.react-app form {
  margin: 1rem 0;
  display: flex;
}
.react-app form > * {
  flex: 1 1 auto;
  width: auto;
}
.react-app .list-item {
  position: relative;
  margin-bottom: .5rem;
  background: #eee;
  border-radius: 4px;
  padding: 4px 12px;
  display: flex;
}
.react-app .list-item :nth-of-type(1) {
  flex: 1 1 auto;
  border: 0;
  background: transparent;
  text-align: left;
}
.react-app .list-item :nth-of-type(1).is-completed {
  text-decoration: line-through;
}

.example-enter {
  opacity: 0.01;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: 300ms ease-in;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.example-leave {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: 500ms ease-in;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
